# Configs sensíveis
.env
application/config/*.php
!application/config/config.php
!application/config/database.php

# Banco
*.sql

# Uploads
/uploads

# Vendor (se usar composer em produção)
vendor/

# Cache
application/cache/*
application/logs/*

